@import '../../node_modules/@carbon/themes/scss/generated/themes.scss';
@import '../../node_modules/carbon-components/scss/globals/scss/styles.scss';
$carbon--theme: $carbon--theme--g100;
@include carbon--theme();

html,
body,
#root {
	height: auto;
}

.spinner-center {
	display: flex;
	height: 100vh;
	width: 100vw;
	align-items: center;
	justify-content: center;
	background-color: #101010;

	img {
      height: 87%;
      width: 61%;
      border-radius: 135%;
      border: 2px solid white;
      box-shadow: 154px 31px 5px 57px #193D35, 22px 95px 5px 83px rgba(0, 255, 208, 0.71), -15px -60px 0px 0px rgba(192, 58, 255, 0.34), 10px 10px 7px 61px rgba(68, 60, 209, 0.49),200px 70px 700px 61px #fff;
	
	@media (max-width: 640px) {
		width: 54%;
		max-height: 30vh;
		margin: 2rem auto;
	}
	
	}

	@media (max-width: 640px) {
		display: flex;
		flex-direction: column;
	justify-content: flex-start;
	}
}

#no-route {
	display: flex;
	flex-direction: column;
	height: 80vh;
	width: 100vw;
	align-items: center;
	justify-content: center;
	margin: 0 auto;

	h1 {
		margin-bottom: 1rem;
	}

	h2 {
		margin-bottom: 1.5rem;
	}

	a {
		font-size: 12pt;
		color: blue;
	}
}

.header-content {
	
	@media (max-width: 640px) {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		width: 90%;
		// padding: .5rem 1rem;

		p {
				font-size: 12pt;	
		}
}
}
a {
	color: #000;
	text-decoration: none;
	font-size: 15pt;
	font-weight: normal;
	@media (max-width: 640px) {
		font-size: 13pt;
	}
}

.bx--side-nav__navigation {
	background-color: $ui-background;
}

a.bx--side-nav__link--current,
a.bx--side-nav__link--current > span.bx--side-nav__link-text {
	background-color: $ui-01;
	color: $text-04;
	height: 4rem;
}

.bx--side-nav__item:not(.bx--side-nav__item--active) > .bx--side-nav__link:hover {
	background-color: $ui-01;
	color: $text-04;
	min-height: 6rem;
}

.bx--side-nav__item {
	min-height: 4rem;
	background-color: #101010;
}

.bx--side-nav__item:hover {
	min-height: 5rem;
	background-color: #101010;
}

.bx--side-nav__link-text {
	font-size: 15pt;
	font-weight: normal;

}

a.bx--side-nav__link > .bx--side-nav__link-text,
.bx--side-nav__item:not(.bx--side-nav__item--active) > .bx--side-nav__link:hover > span {
	color: $text-04;

}
