@import '../../node_modules/@carbon/themes/scss/generated/themes.scss';
@import '../../node_modules/carbon-components/scss/globals/scss/styles.scss';
$carbon--theme: $carbon--theme--g100;
@include carbon--theme();



.spinner-center {
  display: flex;
  height: 100vh;
  width: 100vw;
  align-items: center;
  justify-content: center;
  background-color: #000;

  img {
    height: inherit;
    width: inherit;
  }
}


a {
  color: #000;
  text-decoration: none;
}

.bx--side-nav__navigation {
  background-color: $ui-background;
}

a.bx--side-nav__link--current,
a.bx--side-nav__link--current > span.bx--side-nav__link-text {
 background-color: $ui-01;
 color: $text-04;
}

.bx--side-nav__item:not(.bx--side-nav__item--active)
> .bx--side-nav__link:hover {
  background-color: $ui-01;
  color: $text-04;
}

a.bx--side-nav__link > .bx--side-nav__link-text,
.bx--side-nav__item:not(.bx--side-nav__item--active)
> .bx--side-nav__link:hover
> span {
  color: $text-04;
}